#Q1

In [52]:
t = (1,2,3,4,5)
t1 = (6,7,8,9)

In [53]:
t = t + t1

In [54]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [55]:
t = list(t)

In [56]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
t.append(input("add "))
t

add 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, '10']

In [58]:
t = tuple(t)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, '10')

#Q2

In [65]:
l = [1,2,3,4]
s = 0
for i in l :
    s = s + i
s

10

In [120]:
def sum_lst(*l):
    s = 0
    for i in l :
        s = s + i
    return s

In [121]:
sum_lst(1,2,3,4,5)

15

#Q3

In [70]:
l = [1,2,3,4]
m = 1
for i in l :
    m = m * i
m

24

In [75]:
def X_lst(*l):
    m = 1
    for i in l :
        m = m * i
    return m

In [122]:
X_lst(4,6,2,8,65)

24960

#Q4

In [77]:
lst = (1,2,3,4,5,6)
min(lst)

1

In [105]:
num_input = int(input("num "))
lst = []
for i in range(num_input):
    lst.append(float(input("num ")))
print("the smallest num  is " , min(lst))

num 4
num 3
num 564
num 32
num 1
the smallest num  is  1.0

#Q5

In [78]:
max(lst)

6

In [106]:
num_input = int(input("num "))
lst = []
for i in range(num_input):
    lst.append(float(input("num ")))
print("the largest num  is " , max(lst))

num 5
num 32
num 2432
num 53
num 2334
num 6
the largest num  is  2432.0

#Q6

In [129]:
lst = [1,2,3,4,54,3,5,43,3,4,4]
lst.count(4)

3

#Q7

In [117]:
lst = [1,2,4,6,7,8]

In [118]:
lst1 = lst.copy()
lst1

[1, 2, 4, 6, 7, 8]

#Q8

In [124]:
s = {1,2,3,4,5,6,7,8,9}
s.pop()
s.remove(7)
s

{2, 3, 4, 5, 6, 8, 9}

#Q9

In [130]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1.intersection(s2)

{4, 5, 6}

#Q10

In [131]:
s2.clear

#Q11

In [141]:
min(s1) , max(s1)

(1, 6)

#Q12

In [135]:
t = (1,4,2,6,5,8,3,0,4,7,65,32)
t.index(5)

4

#Q13

In [187]:
t = (1,2,3,4)

In [189]:
d = {"k1": t}

In [190]:
d

{'k1': (1, 2, 3, 4)}

#Q14

In [262]:
x = [(1,2),(3,4,5),(6,7,8,9)]

In [356]:
for i in x :
    print(i)

(1, 2)
(3, 4, 5)
(6, 7, 8, 9)

In [355]:
x1 = x[0]
x2 = x[1]
x3 = x[2]
print(x1 , x2 , x3)

(1, 2) (3, 4, 5) (6, 7, 8, 9)

#Q15

In [263]:
x [::-1]

[(6, 7, 8, 9), (3, 4, 5), (1, 2)]

#Q16

In [264]:
d1 = {}
for i in x:
    
    d1[i[0]] = i[1::]
    
print(d1)

{1: (2,), 3: (4, 5), 6: (7, 8, 9)}

#Q17

In [343]:
y = [(10,20,30),(40,50,60),(70,80,90)]

In [344]:
y[0] = (10,20,100)
y[1] = (40,50,100)
y[2] = (70,80,100)

In [345]:
y

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

#Q18